<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<div id="app">
    <input v-model="name1" type="text">
    我是{{name1}}
    <button class="reset1">用 js 重置</button>
    <div>
        <div>
            <input v-model="name2" type="text">
            我是{{name2}}
            <button class="reset2">用 js 重置</button>
        </div>
        <input v-model="name3" type="text">
        我是{{name3}}
        <button class="reset3">用 js 重置</button>
    </div>
</div>
<script src="main.js"></script>
</body>
</html>